# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environment
venv/
venv_broken/
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# SQLite
*.sqlite3

# Uploaded files / user data
uploads/

# Build files
build/
dist/
*.egg-info/
